!!! 5
%html
%head
  %title DeepViz - Understanding Depression

  / Get the javascript to work
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}

  / dashboard CSS
  %link{:href => "/css/dashboard.css", :rel => "stylesheet"}

  / Header libraries for D3
  %script{:src => "http://d3js.org/d3.v3.min.js"}
  %script{:src => "/javascripts/d3.layout.cloud.js"}

  / Latest compiled and minified CSS
  %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
  / Optional theme
  %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", :integrity => "sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", :rel => "stylesheet"}
  / Latest compiled and minified JavaScript
  %script{:crossorigin => "anonymous", :integrity => "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}

  / Custom Fonts
  %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}

  / High Charts CDN
  %script{:src => "https://code.highcharts.com/highcharts.js"}
  %script{:src => "https://code.highcharts.com/highcharts-more.js"}
  %script{:src => "https://code.highcharts.com/modules/exporting.js"}

%body
  .row{:style => "margin-left: 20px;margin-right:20px"}
    %br
    .col-md-12
      %h4
        = "The following is the report for user @#{@user_profile['name']}"
    %br
    %br

    / Left Box -> Prediction Information
    .col-md-7
      / User Details
      .row

        /  Profile
        .col-md-4
          .panel.panel-default
            .panel-body
              %img.img-circle{:alt => "", :height => "150", :src => "#{@user_profile['profile_image_url']}", :width => "150"}
        
        / Age Prediction
        .col-md-4
          .panel.panel-default
            .panel-heading
              %i.fa.fa-hand-o-right
              Age Prediction
            .panel-body
              .age-font
                = "#{@user_report['age'].to_i}"
                .pull-right
                  %i.fa.fa-calendar-o

        / Gender Prediction
        .col-md-4
          .panel.panel-default
            .panel-heading
              %i.fa.fa-hand-o-right
              Gender Prediction

            .panel-body
              - if @user_report['gender'] == "Male"
                .male-font
                  = "#{@user_report['gender']}"
                  .pull-right
                    %i.fa.fa-mars
              - else
                .female-font
                  = "#{@user_report['gender']}"
                  .pull-right
                    %i.fa.fa-venus

        / Friends Count
        .col-md-8
          .panel.panel-default
            .panel-heading
              %i.fa.fa-hand-o-right
              Friends Count
            .panel-body
              .friends-font
                = "#{@user_profile['friends_count']}"
                .pull-right
                  %i.fa.fa-users
      
      / Depression Indicators
      .row
        / Combos Ratio
        .col-md-4
          .panel.panel-info
            .panel-heading
              %i.fa.fa-hand-o-right
              Combos Ratio
            .panel-body
              = "#{@user_report['combos_ratio']}"

        / First Pronoun Ratio
        .col-md-4
          .panel.panel-info
            .panel-heading
              %i.fa.fa-hand-o-right
              First Pronoun Ratio
            .panel-body
              = "#{@user_report['first_pronoun_ratio']}"

        / Flips Ratio
        .col-md-4
          .panel.panel-info
            .panel-heading
              %i.fa.fa-hand-o-right
              Flips Ratio
            .panel-body
              = "#{@user_report['flips_ratio']}"

        / Negative Ratio
        .col-md-4
          .panel.panel-info
            .panel-heading
              %i.fa.fa-hand-o-right
              Negative Ratio
            .panel-body
              = "#{@user_report['negative_ratio']}"

        / Positive Ratio
        .col-md-4
          .panel.panel-info
            .panel-heading
              %i.fa.fa-hand-o-right
              Positive Ratio
            .panel-body
              = "#{@user_report['positive_ratio']}"

        / Probability
        .col-md-4
          .panel.panel-info
            .panel-heading
              %i.fa.fa-hand-o-right
              Probability
            .panel-body
              = "#{@user_report['probability']}"

      / User Social Interaction Information
      .row
        / Tweeting Frequency
        .col-md-4
          .panel.panel-default
            .panel-heading
              %i.fa.fa-hand-o-right
              Tweeting Frequency
            .panel-body
              = "#{@user_report['tweeting_frequency']}"

        / Tweets Length
        .col-md-4
          .panel.panel-default
            .panel-heading
              %i.fa.fa-hand-o-right
              Tweets Length
            .panel-body
              = "#{@user_report['tweets_length']}"

        / Mentioning Frequency
        .col-md-4
          .panel.panel-default
            .panel-heading
              %i.fa.fa-users
              Ment. Frequency
              .pull-right
                %a{"data-placement"=>"right", :id => "mentioning_frequency"}
                  %i.fa.fa-info              

            .panel-body
              = "#{@user_report['mentioning_frequency']}"
          :javascript
            $('#mentioning_frequency').tooltip({'title': 'The amount of time a user if mentioning other users on the network'}); 

        / Unique Mentioning
        .col-md-4
          .panel.panel-default
            .panel-heading
              %i.fa.fa-hand-o-right
              Unique Mentioning
            .panel-body
              = "#{@user_report['unique_mentioning']}"

        / Frequenct Mentioning
        .col-md-4
          .panel.panel-default
            .panel-heading
              %i.fa.fa-hand-o-right
              Frequent Mentioning
            .panel-body
              = "#{@user_report['frequent_mentioning']}"


    / Right Box -> Visualizations
    .col-md-5
      .row
        .panel.panel-default
          .panel-heading
            = "Dimensions of Depression"
          .panel-body
            #dimensions{:style => "width:100%"}
          :javascript
            var dep_dimensions = #{@dep_dimensions}
            $(function () {
              
              $('#dimensions').highcharts({
                chart: {
                  polar: true,
                  type: 'line'
                },

                title: {
                  text: 'Depression Dimensions',
                  x: -80
                },

                pane: {
                  size: '80%'
                },

                xAxis: {
                  categories: ['Combos Ratio', 'First Pronoun Ratio', 'Flips Ratio', 'Negative Ratio', 'Positive Ratio', 'Probability'],
                  tickmarkPlacement: 'on',
                  lineWidth: 0
                },

                yAxis: {
                  gridLineInterpolation: 'polygon',
                  lineWidth: 0,
                  min: 0
                },

                tooltip: {
                  shared: true,
                  pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.4f}</b><br/>'
                },

                legend: {
                  align: 'right',
                  verticalAlign: 'top',
                  y: 70,
                  layout: 'vertical'
                },

                series: [{
                  name: 'Depressed',
                  data: dep_dimensions,
                  pointPlacement: 'on'
                }]

              });
            // end of function
            });


      / Tweets Word Cloud
      .row
        /.text-center
        .panel.panel-default
          .panel-heading
            %i.fa.fa-hand-o-right
            Word cloud generated by tweets
          .panel-body
            #wordcloud{:style => "width:100%"}
        / to be moved to React but for now keep using standard javascript
        :javascript
          var word_data = #{@word_cloud_text.to_json}

          var color = d3.scale.linear()
            .domain([0,1,2,3,4,5,6,10,15,20,100])
            .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"].reverse());

          /* Readme word Cloud ************************************************/
          d3.layout.cloud().size([800, 300]) //width, height
            .words(word_data)
            .rotate(0)
            .fontSize(function(d) { return d.size*4; })
            .on("end", draw)
            .start();
          
          function draw(words) {
            d3.select("#wordcloud").append("svg")
              .attr("width", 850)
              .attr("height", 350)
              .attr("class", "wordcloud")
              .append("g")
              // without the transform, words words would get cutoff to the left and top, they would
              // appear outside of the SVG area
              //modify the postition of the cloud on the canvas 
              .attr("transform", "translate(320,200)")
              .selectAll("text")
              .data(words)
              .enter().append("text")
              .style("font-size", function(d) { return d.size + "px"; })
              .style("fill", function(d, i) { return color(i); })
              .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; });
          }

        
