!!! 5
%html
%head
  %title DeepViz - Understanding Depression

  / Get the javascript to work
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}

  / dashboard CSS
  %link{:href => "/css/dashboard.css", :rel => "stylesheet"}

  / Header libraries for D3
  %script{:src => "http://d3js.org/d3.v3.min.js"}
  %script{:src => "/javascripts/d3.layout.cloud.js"}

  / Latest compiled and minified CSS
  %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
  / Optional theme
  %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", :integrity => "sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", :rel => "stylesheet"}
  / Latest compiled and minified JavaScript
  %script{:crossorigin => "anonymous", :integrity => "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}

  / Custom Fonts
  %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}

  / High Charts CDN
  %script{:src => "https://code.highcharts.com/highcharts.js"}
  %script{:src => "https://code.highcharts.com/highcharts-more.js"}
  %script{:src => "https://code.highcharts.com/modules/solid-gauge.js"}
  %script{:src => "https://code.highcharts.com/modules/exporting.js"}

%body
  /Sample 1
  .jumbotron.text-center.col-md-6{:style => "background-image: url(#{@sample1_profile['profile_banner_url']}); height: 500px; background-size: cover;"}
    .row
      .col-md-4.col-md-offset-4{:style => "background-color: rgba(72,209,204, 0.8);"}
        %br
        %img.img-circle{:alt => "", :height => "150", :src => "#{@sample1_profile['profile_image_url']}", :width => "150"}
        %br
        %br
        .lead
          = "#{@sample1_profile['name']}"
        = "@"+"#{@sample1_profile['screen_name']}"
        %br
        = "#{@sample1_profile['description']}"
        %br
        %br

  /Sample 2
  .jumbotron.text-center.col-md-6{:style => "background-image: url(#{@sample2_profile['profile_banner_url']}); height: 500px; background-size: cover;"}
    .row
      .col-md-4.col-md-offset-4{:style => "background-color: rgba(201,201,255, 0.8);"}
        %br
        %img.img-circle{:alt => "", :height => "150", :src => "#{@sample2_profile['profile_image_url']}", :width => "150"}
        %br
        %br
        .lead
          = "#{@sample2_profile['name']}"
        = "@"+"#{@sample2_profile['screen_name']}"
        %br
        = "#{@sample2_profile['description']}"
        %br
        %br

  / queried user
  .container

    /Sample 1
    / User Details
    .row.col-md-6
      .col-md-12.header.sample1
        %h1
          Profile Information
      .col-md-12
        / Age Prediction
        .col-md-6.entity
          .col-md-12
            %label
              Age Prediction:
            .pull-right
              %a.age_prediction{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample1_report['age'].to_i}"
              %unity
                year old

        / Gender Prediction
        .col-md-6.entity
          .col-md-12
            %label
              Gender Prediction:
            .pull-right
              %a.gender_prediction{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample1_report['gender']}"

    /Sample 2
    / User Details
    .row.col-md-6.left
      .col-md-12.header.sample2
        %h1
          Profile Information
      .col-md-12
        / Age Prediction
        .col-md-6.entity
          .col-md-12
            %label
              Age Prediction:
            .pull-right
              %a.age_prediction{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample2_report['age'].to_i}"
              %unity
                year old

        / Gender Prediction
        .col-md-6.entity
          .col-md-12
            %label
              Gender Prediction:
            .pull-right
              %a.gender_prediction{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample2_report['gender']}"

    / Sample 1
    / Prediction
    .row.col-md-6
      .col-md-12.header.sample1
        %h1
          Probability of Mental Disorder
      .col-md-12.entity
        .col-md-12
          %label
            Probability of Borderline Personality Disorder
        .col.md.12
          .resizer
            .inner-resizer
              #bpd1{:style => "width:100%"}
      .col-md-12.entity
        .col-md-12
          %label
            Probability of Bipolar Disorder
        .col-md-12
          #bipolar1{:style => "width:100%"}
      :javascript
        var BPDProb1 = #{@sample1_report['BPD_probability']} * 100;
        var bipolarProb1 = #{@sample1_report['bipolar_probability']} * 100;
        $(function () {

          var gaugeOptions = {

            chart: {
              type: 'solidgauge'
            },

            title: null,

            pane: {
              center: ['50%', '85%'],
              size: '100%',
              startAngle: -90,
              endAngle: 90,
              background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
              }
            },

            tooltip: {
              enabled: false
            },

            // the value axis
            yAxis: {
              stops: [
                [0.1, '#c9c9ff'], // blue
                [0.8, '#f1cbff'], // purple
                [1.5, '#ffbfbd'], //red
              ],
              lineWidth: 0,
              minorTickInterval: null,
              tickPixelInterval: 400,
              tickWidth: 0,
              title: {
                y: -70
              },
              labels: {
                y: 16
              }
            },

            plotOptions: {
              solidgauge: {
                dataLabels: {
                  y: 5,
                  borderWidth: 0,
                  useHTML: true
                }
              }
            }
          };

          // The bpd gauge
          $('#bpd1').highcharts(Highcharts.merge(gaugeOptions, {
            yAxis: {
              min: 0,
              max: 100,
            },

            credits: {
              enabled: false
            },

            series: [{
              name: 'bpd',
              data: [BPDProb1],
              dataLabels: {
                format: '<div style="text-align:center"><figure>{y:.1f}</figure><br/>' +
                  '<unity>%</unity></div>'
              },
              tooltip: {
                valueSuffix: '%'
              }
            }]
          }));

          // The bipolar gauge
          $('#bipolar1').highcharts(Highcharts.merge(gaugeOptions, {
            yAxis: {
              min: 0,
              max: 100,
            },

            series: [{
              name: 'bipolar',
              data: [bipolarProb1],
              dataLabels: {
                format: '<div style="text-align:center"><figure>{y:.1f}</figure><br/>' +
                  '<unity"> %</unity></div>'
              },
              tooltip: {
                valueSuffix: '%'
              }
            }]
          }));
        });

    /Sample 2
    / Prediction
    .row.col-md-6
      .col-md-12.header.sample2
        %h1
          Probability of Mental Disorder
      .col-md-12.entity
        .col-md-12
          %label
            Probability of Borderline Personality Disorder
        .col.md.12
          #bpd2{:style => "width:100%"}
      .col-md-12.entity
        .col-md-12
          %label
            Probability of Bipolar Disorder
        .col-md-12
          #bipolar2{:style => "width:100%"}
      :javascript
        var BPDProb2 = #{@sample2_report['BPD_probability']} * 100;
        var bipolarProb2 = #{@sample2_report['bipolar_probability']} * 100;
        $(function () {

          var gaugeOptions = {

            chart: {
              type: 'solidgauge'
            },

            title: null,

            pane: {
              center: ['50%', '85%'],
              size: '100%',
              startAngle: -90,
              endAngle: 90,
              background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
              }
            },

            tooltip: {
              enabled: false
            },

            // the value axis
            yAxis: {
              stops: [
                [0.1, '#c9c9ff'], // blue
                [0.8, '#f1cbff'], // purple
                [1.5, '#ffbfbd'], //red
              ],
              lineWidth: 0,
              minorTickInterval: null,
              tickPixelInterval: 400,
              tickWidth: 0,
              title: {
                y: -70
              },
              labels: {
                y: 16
              }
            },

            plotOptions: {
              solidgauge: {
                dataLabels: {
                  y: 5,
                  borderWidth: 0,
                  useHTML: true
                }
              }
            }
          };

          // The bpd gauge
          $('#bpd2').highcharts(Highcharts.merge(gaugeOptions, {
            yAxis: {
              min: 0,
              max: 100,
            },

            credits: {
              enabled: false
            },

            series: [{
              name: 'bpd',
              data: [BPDProb2],
              dataLabels: {
                format: '<div style="text-align:center"><figure>{y:.1f}</figure><br/>' +
                  '<unity>%</unity></div>'
              },
              tooltip: {
                valueSuffix: '%'
              }
            }]
          }));

          // The bipolar gauge
          $('#bipolar2').highcharts(Highcharts.merge(gaugeOptions, {
            yAxis: {
              min: 0,
              max: 100,
            },

            series: [{
              name: 'bipolar',
              data: [bipolarProb2],
              dataLabels: {
                format: '<div style="text-align:center"><figure>{y:.1f}</figure><br/>' +
                  '<unity"> %</unity></div>'
              },
              tooltip: {
                valueSuffix: '%'
              }
            }]
          }));
        });

    / Sample 1
    / Other Social Features
    .row.col-md-6
      .col-md-12.header.sample1
        %h1
          Other Social Features
      .row
        / Tweeting Frequency
        .col-md-6.entity
          .col-md-12
            %label
              Tweeting Frequency:
            .pull-right
              %a.tweeting_frequency{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample1_report['tweeting_frequency'].round(1)}"
              %unity
                tweets/day

        / Tweets Length
        .col-md-6.entity
          .col-md-12
            %label
              Tweets:
            .pull-right
              %a.tweet_length{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample1_report['tweets_length']}"
      .row
        / Friends Count
        .col-md-6.entity
          .col-md-12
            %label
              Following:
            .pull-right
              %a.friends_count{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample1_profile['friends_count']}"

        / Mentioning Frequency
        .col-md-6.entity
          .col-md-12
            %label
              Mentioning Frequency:
            .pull-right
              %a.mentioning_frequency{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{(@sample1_report['mentioning_frequency']*100).round(1)}"
              %unity
                = "%"
      .row
        / Unique Mentions
        .col-md-6.entity
          .col-md-12
            %label
              Unique Mentions:
            .pull-right
              %a.unique_mentions{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample1_report['unique_mentioning'].to_i}"

        / Frequently Mentioned
        .col-md-6.entity
          .col-md-12
            %label
              Frequently Mentioned:
            .pull-right
              %a.frequent_mentions{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample1_report['frequent_mentioning'].to_i}"
              %unity
                users

    / Sample 2
    / Other Social Features
    .row.col-md-6
      .col-md-12.header.sample2
        %h1
          Other Social Features
      .row
        / Tweeting Frequency
        .col-md-6.entity
          .col-md-12
            %label
              Tweeting Frequency:
            .pull-right
              %a.tweeting_frequency{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample2_report['tweeting_frequency'].round(1)}"
              %unity
                tweets/day

        / Tweets Length
        .col-md-6.entity
          .col-md-12
            %label
              Tweets:
            .pull-right
              %a.tweet_length{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample2_report['tweets_length']}"
      .row
        / Friends Count
        .col-md-6.entity
          .col-md-12
            %label
              Following:
            .pull-right
              %a.friends_count{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample2_profile['friends_count']}"

        / Mentioning Frequency
        .col-md-6.entity
          .col-md-12
            %label
              Mentioning Frequency:
            .pull-right
              %a.mentioning_frequency{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{(@sample2_report['mentioning_frequency']*100).round(1)}"
              %unity
                = "%"
      .row
        / Unique Mentions
        .col-md-6.entity
          .col-md-12
            %label
              Unique Mentions:
            .pull-right
              %a.unique_mentions{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample2_report['unique_mentioning'].to_i}"

        / Frequently Mentioned
        .col-md-6.entity
          .col-md-12
            %label
              Frequently Mentioned:
            .pull-right
              %a.frequent_mentions{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample2_report['frequent_mentioning'].to_i}"
              %unity
                users

    /Sample 1
    / Polarity Features
    .row.col-md-6
      .col-md-12.header.sample1
        %h1
          Polarity Features
      .row
        / Polarity timeline
        .col-md-12.entity
          .col-md-12
            %label
              Tweets Polarity Timeline:
            .pull-right
              %a.tweets_polarity_timeline{"data-placement"=>"right"}
                %i.fa.fa-info
            %br
          .col-md-12
            #timeline1{:style => "width:100%"}
          :javascript
            var positive_tweets1 = #{@sample1_positive_tweets};
            var negative_tweets1 = #{@sample1_negative_tweets};
            var neutral_tweets1 = #{@sample1_neutral_tweets};
            $(function () {
              $('#timeline1').highcharts({
                chart: {
                  type: 'columnrange',
                  inverted: true
                },
                title: {
                  text: ''
                },
                scrollbar: {
                  enabled: true
                },
                xAxis: {
                  categories: ['Polarity'],
                  labels: {
                    enabled: false
                  },
                  lineWidth: 0
                },
                yAxis: {
                  type: 'datetime',
                  gridLineWidth: 0,
                  title: {
                    text: 'Timespan'
                  }
                },
                plotOptions: {
                  columnrange: {
                    grouping: false
                  }
                },
                legend: {
                  enabled: true
                },
                tooltip: {
                  formatter: function () {
                    return '<b>' + this.x + ' - ' + this.series.name + '</b><br/>' + this.point.text + '<br/>';
                  }
                },
                series: [{
                  name: 'Positive',
                  color: '#e1f7d5',
                  borderWidth: 0,
                  borderColor: '#e1f7d5',
                  data: positive_tweets1
                },{
                  name: "Negative",
                  color: '#ffbdbd',
                  borderWidth: 0,
                  borderColor: '#ffbdbd',
                  data: negative_tweets1
                },{
                  name: "Neutral",
                  color: '#d0d0d0',
                  borderWidth: 0,
                  borderColor: '#d0d0d0',
                  data: neutral_tweets1
                }]
              });
            });
      .row
        / Tweets polarity
        .col-md-12.entity
          .col-md-12
            %label
              Tweets Polarity:
            .pull-right
              %a.tweets_polarity{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            #dimensions1{:style => "width:100%"}
          :javascript
            var tweets_polarity1 = #{@sample1_tweets_polarity};
            $(function () {
              $('#dimensions1').highcharts({
                chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: 0,
                  plotShadow: false
                },
                title: {
                  text: 'Tweets<br>polarity',
                  align: 'center',
                  verticalAlign: 'middle',
                  y: 40
                },
                tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                  pie: {
                    dataLabels: {
                      enabled: true,
                      distance: -50,
                      style: {
                        fontWeight: 'bold',
                        color: 'black'
                      }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                    }
                  },
                  series: [{
                    type: 'pie',
                    name: 'ratio',
                    innerSize: '50%',
                    data: [
                      {
                        name: 'Positive',
                        y: tweets_polarity1[0],
                        color: '	#e1f7d5'
                      },
                      {
                        name: 'Neutral',
                        y: tweets_polarity1[1],
                        color: '#d0d0d0'
                      },
                      {
                        name: 'negative',
                        y: tweets_polarity1[2],
                        color: '#ffbdbd'
                      }
                    ]
                  }]
                });
              });
      .row
        / Negative combo
        .col-md-6.entity
          .col-md-12
            %label
              Negative Combos:
            .pull-right
              %a.negative_combos{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample1_report['negative_combos'].round(4)}"

        /Positive combo
        .col-md-6.entity
          .col-md-12
            %label
              Positive Combos:
            .pull-right
              %a.positive_combos{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample1_report['positive_combos'].round(4)}"

        /Flips Ratio
        .col-md-6.entity
          .col-md-12
            %label
              Flips Ratio:
            .pull-right
              %a.flips_ratio{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample1_report['flips_ratio'].round(4)}"

    /Sample 2
    / Polarity Features
    .row.col-md-6
      .col-md-12.header.sample2
        %h1
          Polarity Features
      .row
        / Polarity timeline
        .col-md-12.entity
          .col-md-12
            %label
              Tweets Polarity Timeline:
            .pull-right
              %a.tweets_polarity_timeline{"data-placement"=>"right"}
                %i.fa.fa-info
            %br
          .col-md-12
            #timeline2{:style => "width:100%"}
          :javascript
            var positive_tweets2 = #{@sample2_positive_tweets};
            var negative_tweets2 = #{@sample2_negative_tweets};
            var neutral_tweets2 = #{@sample2_neutral_tweets};
            $(function () {
              $('#timeline2').highcharts({
                chart: {
                  type: 'columnrange',
                  inverted: true
                },
                title: {
                  text: ''
                },
                scrollbar: {
                  enabled: true
                },
                xAxis: {
                  categories: ['Polarity'],
                  labels: {
                    enabled: false
                  },
                  lineWidth: 0
                },
                yAxis: {
                  type: 'datetime',
                  gridLineWidth: 0,
                  title: {
                    text: 'Timespan'
                  }
                },
                plotOptions: {
                  columnrange: {
                    grouping: false
                  }
                },
                legend: {
                  enabled: true
                },
                tooltip: {
                  formatter: function () {
                    return '<b>' + this.x + ' - ' + this.series.name + '</b><br/>' + this.point.text + '<br/>';
                  }
                },
                series: [{
                  name: 'Positive',
                  color: '#e1f7d5',
                  borderWidth: 0,
                  borderColor: '#e1f7d5',
                  data: positive_tweets2
                },{
                  name: "Negative",
                  color: '#ffbdbd',
                  borderWidth: 0,
                  borderColor: '#ffbdbd',
                  data: negative_tweets2
                },{
                  name: "Neutral",
                  color: '#d0d0d0',
                  borderWidth: 0,
                  borderColor: '#d0d0d0',
                  data: neutral_tweets2
                }]
              });
            });
      .row
        / Tweets polarity
        .col-md-12.entity
          .col-md-12
            %label
              Tweets Polarity:
            .pull-right
              %a.tweets_polarity{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            #dimensions2{:style => "width:100%"}
          :javascript
            var tweets_polarity2 = #{@sample2_tweets_polarity};
            $(function () {
              $('#dimensions2').highcharts({
                chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: 0,
                  plotShadow: false
                },
                title: {
                  text: 'Tweets<br>polarity',
                  align: 'center',
                  verticalAlign: 'middle',
                  y: 40
                },
                tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                  pie: {
                    dataLabels: {
                      enabled: true,
                      distance: -50,
                      style: {
                        fontWeight: 'bold',
                        color: 'black'
                      }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                    }
                  },
                  series: [{
                    type: 'pie',
                    name: 'ratio',
                    innerSize: '50%',
                    data: [
                      {
                        name: 'Positive',
                        y: tweets_polarity2[0],
                        color: '	#e1f7d5'
                      },
                      {
                        name: 'Neutral',
                        y: tweets_polarity2[1],
                        color: '#d0d0d0'
                      },
                      {
                        name: 'negative',
                        y: tweets_polarity2[2],
                        color: '#ffbdbd'
                      }
                    ]
                  }]
                });
              });
      .row
        / Negative combo
        .col-md-6.entity
          .col-md-12
            %label
              Negative Combos:
            .pull-right
              %a.negative_combos{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample2_report['negative_combos'].round(4)}"

        /Positive combo
        .col-md-6.entity
          .col-md-12
            %label
              Positive Combos:
            .pull-right
              %a.positive_combos{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample2_report['positive_combos'].round(4)}"

        /Flips Ratio
        .col-md-6.entity
          .col-md-12
            %label
              Flips Ratio:
            .pull-right
              %a.flips_ratio{"data-placement"=>"right"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@sample2_report['flips_ratio'].round(4)}"

    / Sample 1
    / Word Cloud
    .row.col-md-6
      .col-md-12.header.sample1
        %h1
          Word cloud generated by tweets
      .col-md-12
        #wordcloud1{:style => "width:100%"}
      / to be moved to React but for now keep using standard javascript
      :javascript
        var word_data = #{@sample1_bpd_word_count}

        var color = d3.scale.linear()
          .domain([0,1,2,3,4,5,6,10,15,20,100])
          .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"].reverse());

        /* Readme word Cloud ************************************************/
        d3.layout.cloud().size([700, 300]) //width, height
          .words(word_data)
          .rotate(0)
          .fontSize(function(d) { return d.size*4; })
          .on("end", draw)
          .start();

        function draw(words) {
          d3.select("#wordcloud1").append("svg")
            .attr("width", 750)
            .attr("height", 350)
            .attr("class", "wordcloud")
            .append("g")
            // without the transform, words words would get cutoff to the left and top, they would
            // appear outside of the SVG area
            //modify the postition of the cloud on the canvas
            .attr("transform", "translate(200,200)")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) { return d.size + "px"; })
            .style("fill", function(d, i) { return color(i); })
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function(d) { return d.text; });
        }

    / Sample 2
    / Word Cloud
    .row.col-md-6
      .col-md-12.header.sample2
        %h1
          Word cloud generated by tweets
      .col-md-12
        #wordcloud2{:style => "width:100%"}
      / to be moved to React but for now keep using standard javascript
      :javascript
        var word_data = #{@sample2_bpd_word_count}

        var color = d3.scale.linear()
          .domain([0,1,2,3,4,5,6,10,15,20,100])
          .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"].reverse());

        /* Readme word Cloud ************************************************/
        d3.layout.cloud().size([700, 300]) //width, height
          .words(word_data)
          .rotate(0)
          .fontSize(function(d) { return d.size*4; })
          .on("end", draw)
          .start();

        function draw(words) {
          d3.select("#wordcloud2").append("svg")
            .attr("width", 750)
            .attr("height", 350)
            .attr("class", "wordcloud")
            .append("g")
            // without the transform, words words would get cutoff to the left and top, they would
            // appear outside of the SVG area
            //modify the postition of the cloud on the canvas
            .attr("transform", "translate(200,200)")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) { return d.size + "px"; })
            .style("fill", function(d, i) { return color(i); })
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function(d) { return d.text; });
        }

    /  Javascript Utilities
    :javascript
      $('.age_prediction').tooltip({'title': 'The age predicted by the system'});
      $('.gender_prediction').tooltip({'title': 'The gender predicted by the system'});
      $('.friends_count').tooltip({'title': 'The number of people the user is following'});
      $('.tweet_length').tooltip({'title': 'The number of tweets collected from the user profile'});
      $('.mental_dimensions').tooltip({'title': 'Contains features and probabilities of produced by the PLF model'});
      $('.tweeting_frequency').tooltip({'title': 'The frequency of daily posts'});
      $('.mentioning_frequency').tooltip({'title': 'The percentage of posts which contain at least one mention of another user.'})
      $('.unique_mentions').tooltip({'title': 'The number of unique users mentioned by the user'});
      $('.frequent_mentions').tooltip({'title': 'The number of users mentioned more than three times by the user'});
      $('.tweets_polarity_timeline').tooltip({'title': 'Timeline of the 300 latest tweets with there polarity'})
      $('.tweets_polarity').tooltip({'title': 'percentage of tweets per polarity'})
      $('.negative_combos').tooltip({'title': 'The number of X continuous negative posts within a certain period of time'});
      $('.positive_combos').tooltip({'title': 'The number of X continuous positive posts within a certain period of time'});
      $('.flips_ratio').tooltip({'title': 'The ratio of two continuous tweets with different polarity within a certain period of time'});
