!!! 5
%html
%head
  %title DeepViz - Understanding Depression

  / Get the javascript to work
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}

  / dashboard CSS
  %link{:href => "/css/dashboard.css", :rel => "stylesheet"}

  / Header libraries for D3
  %script{:src => "http://d3js.org/d3.v3.min.js"}
  %script{:src => "/javascripts/d3.layout.cloud.js"}

  / Latest compiled and minified CSS
  %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
  / Optional theme
  %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", :integrity => "sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", :rel => "stylesheet"}
  / Latest compiled and minified JavaScript
  %script{:crossorigin => "anonymous", :integrity => "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}

  / Custom Fonts
  %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}

  / High Charts CDN
  %script{:src => "https://code.highcharts.com/highcharts.js"}
  %script{:src => "https://code.highcharts.com/highcharts-more.js"}
  %script{:src => "https://code.highcharts.com/modules/exporting.js"}

%body
  .row{:style => "margin-left: 20px;margin-right:20px"}
    %br
    %br
    %br

    / queried user
    .col-md-6{:style => "border-style:none;border-color:#01DF3A;background-color:#E0F2F7;padding-top:5px"}
      / User Details
      .row
        .panel.panel-default
          .panel-heading
            %i.fa.fa-arrow-circle-right
            Profile Information
          .panel-body
            /  Profile
            .col-md-4
              .panel.panel-default
                .panel-body
                  %img.img-circle{:alt => "", :height => "150", :src => "#{@user_profile['profile_image_url']}", :width => "150"}
                  %br
                  %br
                  = "@"+"#{@user_profile['screen_name']}"            
            / Age Prediction
            .col-md-4
              .panel.panel-info
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Age Prediction
                .panel-body
                  .age-font
                    = "#{@user_report['age'].to_i}"
                    .pull-right
                      %i.fa.fa-calendar-o

            / Gender Prediction
            .col-md-4
              .panel.panel-info
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Gender Prediction

                .panel-body
                  - if @user_report['gender'].to_s == "Male"
                    .male-font
                      = "#{@user_report['gender']}"
                      .pull-right
                        %i.fa.fa-mars
                  - else
                    .female-font
                      = "#{@user_report['gender']}"
                      .pull-right
                        %i.fa.fa-venus

            / Friends Count
            .col-md-4
              .panel.panel-info
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Friends Count
                .panel-body
                  .friends-font
                    = "#{@user_profile['friends_count']}"
                    .pull-right
                      %i.fa.fa-users
            / Tweets Length
            .col-md-4
              .panel.panel-info
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Tweets Length
                .panel-body
                  .tweet-font
                    = "#{@user_report['tweets_length']}"
                    .pull-right
                      %i.fa.fa-twitter

      / MD Dimensions
      .row
        .panel.panel-default
          .panel-heading
            %i.fa.fa-arrow-circle-right
            = "Mental Disorder Dimensions"
          .panel-body
            #dimensions{:style => "width:100%"}
          :javascript
            var dep_dimensions = #{@dep_dimensions}
            $(function () {
              
              $('#dimensions').highcharts({
                chart: {
                  polar: true,
                  type: 'line'
                },

                title: {
                  text: 'Mental Disorder Dimensions',
                  x: -80
                },

                pane: {
                  size: '80%'
                },

                xAxis: {
                  categories: ['BPD Probability', 'Bipolar Probability', 'Mentions Ratio', 'Negative Ratio', 'Positive Ratio'],
                  tickmarkPlacement: 'on',
                  lineWidth: 0
                },

                yAxis: {
                  gridLineInterpolation: 'polygon',
                  lineWidth: 0,
                  min: 0
                },

                tooltip: {
                  shared: true,
                  pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.4f}</b><br/>'
                },

                legend: {
                  align: 'right',
                  verticalAlign: 'top',
                  y: 70,
                  layout: 'vertical'
                },

                series: [{
                  name: 'MD Dimensions',
                  data: dep_dimensions,
                  pointPlacement: 'on'
                }]

              });
            // end of function
            });

      / Other Social Features
      .row
        .panel.panel-default
          .panel-heading
            %i.fa.fa-arrow-circle-right
              Other Social Features
          .panel-body
            / Tweeting Frequency
            .col-md-4
              .panel.panel-info
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Tweeting Frequency
                .panel-body
                  .tweet-font
                    = "#{@user_report['tweeting_frequency'].round(2)}"
                    .pull-right
                      %i.fa.fa-twitter

            / Unique Mentions
            .col-md-4
              .panel.panel-info
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Unique Mentions
                .panel-body
                  .tweet-font
                    = "#{@user_report['unique_mentioning'].to_i}"
                    .pull-right
                      %i.fa.fa-twitter

            / Frequent Mentions
            .col-md-4
              .panel.panel-info
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Frequent Mentions
                .panel-body
                  .tweet-font
                    = "#{@user_report['frequent_mentioning'].to_i}"
                    .pull-right
                      %i.fa.fa-twitter

      / Other Polarity Features
      .row
        .panel.panel-default
          .panel-heading
            %i.fa.fa-arrow-circle-right
              Other Polarity Features
          .panel-body
            .col-md-4
              .panel.panel-info
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Negative Combos
                .panel-body
                  .tweet-font
                    = "#{@user_report['negative_combos'].round(4)}"
                    .pull-right
                      %i.fa.fa-frown-o
            .col-md-4
              .panel.panel-info
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Positive Combos
                .panel-body
                  .tweet-font
                    = "#{@user_report['positive_combos'].round(4)}"
                    .pull-right
                      %i.fa.fa-smile-o
            .col-md-4
              .panel.panel-info
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Flips Ratio
                .panel-body
                  .tweet-font
                    = "#{@user_report['flips_ratio'].round(4)}"
                    .pull-right
                      %i.fa.fa-meh-o

      / Word Cloud
      .row
        /.text-center
        .panel.panel-default
          .panel-heading
            %i.fa.fa-arrow-circle-right
            Word cloud generated by tweets
          .panel-body
            #wordcloud{:style => "width:100%"}
        / to be moved to React but for now keep using standard javascript
        :javascript
          var word_data = #{@bpd_word_count}

          var color = d3.scale.linear()
            .domain([0,1,2,3,4,5,6,10,15,20,100])
            .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"].reverse());

          /* Readme word Cloud ************************************************/
          d3.layout.cloud().size([800, 300]) //width, height
            .words(word_data)
            .rotate(0)
            .fontSize(function(d) { return d.size*4; })
            .on("end", draw)
            .start();
          
          function draw(words) {
            d3.select("#wordcloud").append("svg")
              .attr("width", 850)
              .attr("height", 350)
              .attr("class", "wordcloud")
              .append("g")
              // without the transform, words words would get cutoff to the left and top, they would
              // appear outside of the SVG area
              //modify the postition of the cloud on the canvas 
              .attr("transform", "translate(320,200)")
              .selectAll("text")
              .data(words)
              .enter().append("text")
              .style("font-size", function(d) { return d.size + "px"; })
              .style("fill", function(d, i) { return color(i); })
              .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; });
          }


    / randomly selected patient
    .col-md-6{:style => "border-style:none;border-color:#FA5858;background-color:#FBEFF2;padding-top:5px"}
      / User Details
      .row
        .panel.panel-default
          .panel-heading
            %i.fa.fa-arrow-circle-right
            Profile Information
          .panel-body
            /  Profile
            .col-md-4
              .panel.panel-default
                .panel-body
                  %img.img-circle{:alt => "", :height => "150", :src => "#{@random_patient_profile['profile_image_url']}", :width => "150"}
                  %br
                  %br
                  = "@"+"#{@random_patient_profile['screen_name']}"
            
            / Age Prediction
            .col-md-4
              .panel.panel-danger
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Age Prediction
                .panel-body
                  .age-font
                    = "#{@random_patient_report['age'].to_i}"
                    .pull-right
                      %i.fa.fa-calendar-o

            / Gender Prediction
            .col-md-4
              .panel.panel-danger
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Gender Prediction

                .panel-body
                  - if @random_patient_report['gender'] == "Male"
                    .male-font
                      = "#{@random_patient_report['gender']}"
                      .pull-right
                        %i.fa.fa-mars
                  - else
                    .female-font
                      = "#{@random_patient_report['gender']}"
                      .pull-right
                        %i.fa.fa-venus

            / Friends Count
            .col-md-4
              .panel.panel-danger
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Friends Count
                .panel-body
                  .friends-font
                    = "#{@random_patient_profile['friends_count']}"
                    .pull-right
                      %i.fa.fa-users
            / Tweets Length
            .col-md-4
              .panel.panel-danger
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Tweets Length
                .panel-body
                  .tweet-font
                    = "#{@random_patient_report['tweets_length']}"
                    .pull-right
                      %i.fa.fa-twitter

      / MD Dimensions
      .row
        .panel.panel-default
          .panel-heading
            %i.fa.fa-arrow-circle-right
            = "Mental Disorder Dimensions"
          .panel-body
            #patient_dimensions{:style => "width:100%"}
          :javascript
            var patient_dep_dimensions = #{@random_patient_dep_dimensions}
            $(function () {
              
              $('#patient_dimensions').highcharts({
                chart: {
                  polar: true,
                  type: 'line'
                },

                title: {
                  text: 'Mental Disorder Dimensions',
                  x: -80
                },

                pane: {
                  size: '80%'
                },

                xAxis: {
                  categories: ['BPD Probability', 'Bipolar Probability', 'Mentions Ratio', 'Negative Ratio', 'Positive Ratio'],
                  tickmarkPlacement: 'on',
                  lineWidth: 0
                },

                yAxis: {
                  gridLineInterpolation: 'polygon',
                  lineWidth: 0,
                  min: 0
                },

                tooltip: {
                  shared: true,
                  pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.4f}</b><br/>'
                },

                legend: {
                  align: 'right',
                  verticalAlign: 'top',
                  y: 70,
                  layout: 'vertical'
                },

                series: [{
                  name: 'MD Dimensions',
                  data: patient_dep_dimensions,
                  pointPlacement: 'on'
                }]

              });
            // end of function
            });

      / Other Social Features
      .row
        .panel.panel-default
          .panel-heading
            %i.fa.fa-arrow-circle-right
              Other Social Features
          .panel-body
            / Tweeting Frequency
            .col-md-4
              .panel.panel-danger
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Tweeting Frequency
                .panel-body
                  .tweet-font
                    = "#{@random_patient_report['tweeting_frequency'].round(2)}"
                    .pull-right
                      %i.fa.fa-twitter

            / Unique Mentions
            .col-md-4
              .panel.panel-danger
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Unique Mentions
                .panel-body
                  .tweet-font
                    = "#{@random_patient_report['unique_mentioning'].to_i}"
                    .pull-right
                      %i.fa.fa-twitter

            / Frequent Mentions
            .col-md-4
              .panel.panel-danger
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Frequent Mentions
                .panel-body
                  .tweet-font
                    = "#{@random_patient_report['frequent_mentioning'].to_i}"
                    .pull-right
                      %i.fa.fa-twitter
      
      / Other Polarity Features
      .row
        .panel.panel-default
          .panel-heading
            %i.fa.fa-arrow-circle-right
              Other Polarity Features
          .panel-body
            .col-md-4
              .panel.panel-danger
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Negative Combos
                .panel-body
                  .tweet-font
                    = "#{@random_patient_report['negative_combos'].round(4)}"
                    .pull-right
                      %i.fa.fa-frown-o
            .col-md-4
              .panel.panel-danger
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Positive Combos
                .panel-body
                  .tweet-font
                    = "#{@random_patient_report['positive_combos'].round(4)}"
                    .pull-right
                      %i.fa.fa-smile-o
            .col-md-4
              .panel.panel-danger
                .panel-heading
                  %i.fa.fa-arrow-circle-right
                  Flips Ratio
                .panel-body
                  .tweet-font
                    = "#{@random_patient_report['flips_ratio'].round(4)}"
                    .pull-right
                      %i.fa.fa-meh-o


      / Patient Word Cloud
      .row
        /.text-center
        .panel.panel-default
          .panel-heading
            %i.fa.fa-arrow-circle-right
            Word cloud generated by tweets
          .panel-body
            #patient_wordcloud{:style => "width:100%"}
        / to be moved to React but for now keep using standard javascript
        :javascript
          var word_data = #{@random_patient_bpd_word_count}

          var color = d3.scale.linear()
            .domain([0,1,2,3,4,5,6,10,15,20,100])
            .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"].reverse());

          /* Readme word Cloud ************************************************/
          d3.layout.cloud().size([800, 300]) //width, height
            .words(word_data)
            .rotate(0)
            .fontSize(function(d) { return d.size*4; })
            .on("end", draw)
            .start();
          
          function draw(words) {
            d3.select("#patient_wordcloud").append("svg")
              .attr("width", 850)
              .attr("height", 350)
              .attr("class", "wordcloud")
              .append("g")
              // without the transform, words words would get cutoff to the left and top, they would
              // appear outside of the SVG area
              //modify the postition of the cloud on the canvas 
              .attr("transform", "translate(320,200)")
              .selectAll("text")
              .data(words)
              .enter().append("text")
              .style("font-size", function(d) { return d.size + "px"; })
              .style("fill", function(d, i) { return color(i); })
              .attr("transform", function(d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) { return d.text; });
          }
    .col-md-12
      .row
        .panel.panel-default
          .panel-heading
            %i.fa.fa-arrow-circle-right
            Word Overlap between users
          .panel-body
            #overlap_graph{:style => "width:100%"}
          / to be moved to React but for now keep using standard javascript
          :javascript
            $(function () {
              $('#overlap_graph').highcharts({
                chart: {
                  type: 'areaspline'
                },
                title: {
                  text: 'Word Overlap between both users'
                },
                legend: {
                  layout: 'vertical',
                  align: 'left',
                  verticalAlign: 'top',
                  x: 150,
                  y: 100,
                  floating: true,
                  borderWidth: 1,
                  backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                xAxis: {
                  categories: #{@overlap_words},
                  //plotBands: [{ // visualize the weekend
                  //  from: 4.5,
                  //  to: 6.5,
                  //  color: 'rgba(68, 170, 213, .2)'
                  //}]
                },
                yAxis: {
                  title: {
                    text: 'Word Frequency'
                  }
                },
                tooltip: {
                  shared: true,
                  valueSuffix: ' frequency'
                },
                credits: {
                  enabled: false
                },
                plotOptions: {
                  areaspline: {
                    fillOpacity: 0.5
                  }
                },
                series: [{
                  name: 'User A - Queried',
                  data: #{@overlap_normal_count}
                }, {
                  name: 'User B - Patient',
                  data: #{@overlap_patient_count}
                }]
              });
            });





