/ Get the javascript to work
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
/ Latest compiled and minified CSS
%link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
/ Optional theme
%link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", :integrity => "sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", :rel => "stylesheet"}
/ Latest compiled and minified JavaScript
%script{:crossorigin => "anonymous", :integrity => "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}

/= "A Visualization Tool for Depression Prediction Results"
/= "We are now using this API: #{@api_url}"
%body
  .panel.panel-default
    .panel-body
      .row{:style => "margin-left: 20px"}
        .col-md-12
          .text-center
            %img{:src=>"/idealab.jpg", :height => "100", :width => "100"}
        .col-md-12
          .text-center
            %h1
              = "Mental Disorder Detection and Analysis on Twitter"
              %br
              %br

        .col-md-12
          %form{:action => "/compare", :method => "get"}
            .row
              .col-md-6.col-md-offset-3
                
                .input-group
                  %span#sizing-addon1.input-group-addon @
                  %input{:name => "username", :type => "input", :placeholder => "Enter Twitter Handle without @ symbol (e.g., realDonaldTrump, HillaryClinton )", :class => "form-control"}
                  
                  %span.input-group-btn
                    %button.btn.btn-primary{:type => "submit"}
                      = "Analyze"
            .row
              .col-md-6.col-md-offset-3
                .text-center
                  .radio
                    %label
                      %input{:name => "case", :type => "radio", :value=>"bpd", :checked => "checked"} Compare with BPD Patient
                  .radio
                    %label
                      %input{:name => "case", :type => "radio", :value=> "bipolar"} Compare with Bipolar Patient
                     
        %br
        %br
        .col-md-12
          .text-center
            = "Brought to you by "
            %a{:href => "https://idea.cs.nthu.edu.tw/"}
              = "IDEA Lab @2016"

                        