!!! 5
%html
%head
  %title DeepViz - Understanding Depression

  / Get the javascript to work
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}

  / dashboard CSS
  %link{:href => "/css/dashboard.css", :rel => "stylesheet"}

  / Header libraries for D3
  %script{:src => "http://d3js.org/d3.v3.min.js"}
  %script{:src => "/javascripts/d3.layout.cloud.js"}

  / Latest compiled and minified CSS
  %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}
  / Optional theme
  %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css", :integrity => "sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r", :rel => "stylesheet"}
  / Latest compiled and minified JavaScript
  %script{:crossorigin => "anonymous", :integrity => "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}

  / Custom Fonts
  %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}

  / High Charts CDN
  %script{:src => "https://code.highcharts.com/highcharts.js"}
  %script{:src => "https://code.highcharts.com/highcharts-more.js"}
  %script{:src => "https://code.highcharts.com/modules/solid-gauge.js"}
  %script{:src => "https://code.highcharts.com/modules/exporting.js"}

%body
  / queried user
  .container
    / User Details
    .row
      .col-md-12.header
        %h1
          Profile Information
      .col-md-12
        / Age Prediction
        .col-md-3.entity
          .col-md-12
            %label
              Age Prediction:
            .pull-right
              %a{"data-placement"=>"right", :id => "age_prediction"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@user_report['age'].to_i}"
              %unity
                year old

        / Gender Prediction
        .col-md-3.entity
          .col-md-12
            %label
              Gender Prediction:
            .pull-right
              %a{"data-placement"=>"right", :id => "gender_prediction"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@user_report['gender']}"

        / Friends Count
        .col-md-3.entity
          .col-md-12
            %label
              Following:
            .pull-right
              %a{"data-placement"=>"right", :id => "friends_count"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@user_profile['friends_count']}"

        / Tweets Length
        .col-md-3.entity
          .col-md-12
            %label
              Tweets:
            .pull-right
              %a{"data-placement"=>"right", :id => "tweet_length"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@user_report['tweets_length']}"

    / Other Social Features
    .row
      .col-md-12.header
        %h1
          Other Social Features
      .col-md-12

        / Tweeting Frequency
        .col-md-3.entity
          .col-md-12
            %label
              Tweeting Frequency:
            .pull-right
              %a{"data-placement"=>"right", :id => "tweeting_frequency"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@user_report['tweeting_frequency'].round(1)}"
              %unity
                tweets per day

        / Mentioning Frequency
        .col-md-3.entity
          .col-md-12
            %label
              Mentioning Frequency:
            .pull-right
              %a{"data-placement"=>"right", :id => "mentioning_frequency"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{(@user_report['mentioning_frequency']*100).round(1)}"
              %unity
                = "%"
        / Unique Mentions
        .col-md-3.entity
          .col-md-12
            %label
              Unique Mentions:
            .pull-right
              %a{"data-placement"=>"right", :id => "unique_mentions"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@user_report['unique_mentioning'].to_i}"

        / Frequently Mentioned
        .col-md-3.entity
          .col-md-12
            %label
              Frequently Mentioned:
            .pull-right
              %a{"data-placement"=>"right", :id => "frequent_mentions"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@user_report['frequent_mentioning'].to_i}"
              %unity
                users

    / Polarity Features
    .row
      .col-md-12.header
        %h1
          Polarity Features
      .col-md-12
        / Polarity timeline
        .col-md-12.entity
          .col-md-12
            %label
              Tweets Polarity Timeline:
            .pull-right
              %a{"data-placement"=>"right", :id => "tweets_polarity_timeline"}
                %i.fa.fa-info
            %br
          .col-md-12
            #timeline{:style => "width:100%"}
          :javascript
            var positive_tweets = #{@positive_tweets};
            var negative_tweets = #{@negative_tweets};
            $(function () {
              $('#timeline').highcharts({
                chart: {
                  type: 'columnrange',
                  inverted: true
                },
                title: {
                  text: ''
                },
                scrollbar: {
                  enabled: true
                },
                xAxis: {
                  categories: ['Polarity'],
                  labels: {
                    enabled: false
                  },
                  lineWidth: 0
                },
                yAxis: {
                  type: 'datetime',
                  title: {
                    text: 'Timespan'
                  }
                },
                plotOptions: {
                  columnrange: {
                    grouping: false
                  }
                },
                legend: {
                  enabled: true
                },
                tooltip: {
                  formatter: function () {
                    return '<b>' + this.x + ' - ' + this.series.name + '</b><br/>' + this.point.text + '<br/>';
                  }
                },
                series: [{
                  name: 'Positive',
                  color: '#e1f7d5',
                  borderWidth: 2,
                  borderColor: '#e1f7d5',
                  data: positive_tweets
                 }, {
                   name: "Negative",
                   color: '#ffbdbd',
                   borderWidth: 2,
                   borderColor: '#ffbdbd',
                   data: negative_tweets
                }]
              });
            });
      .col-md-12
        / Tweets polarity
        .col-md-8.entity
          .col-md-12
            %label
              Tweets Polarity:
            .pull-right
              %a{"data-placement"=>"right", :id => "tweets_polarity"}
                %i.fa.fa-info
          .col-md-12
            #dimensions{:style => "width:100%"}
          :javascript
            var tweets_polarity = #{@tweets_polarity};
            $(function () {
              $('#dimensions').highcharts({
                chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: 0,
                  plotShadow: false
                },
                title: {
                  text: 'Tweets<br>polarity',
                  align: 'center',
                  verticalAlign: 'middle',
                  y: 40
                },
                tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                  pie: {
                    dataLabels: {
                      enabled: true,
                      distance: -50,
                      style: {
                        fontWeight: 'bold',
                        color: 'black'
                      }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%']
                    }
                  },
                  series: [{
                    type: 'pie',
                    name: 'ratio',
                    innerSize: '50%',
                    data: [
                      {
                        name: 'Positive',
                        y: tweets_polarity[0],
                        color: '	#e1f7d5'
                      },
                      {
                        name: 'Neutral',
                        y: tweets_polarity[1],
                        color: '#d0d0d0'
                      },
                      {
                        name: 'negative',
                        y: tweets_polarity[2],
                        color: '#ffbdbd'
                      }
                    ]
                  }]
                });
              });

        / Negative combo
        .col-md-4.entity
          .col-md-12
            %label
              Negative Combos:
            .pull-right
              %a{"data-placement"=>"right", :id => "negative_combos"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@user_report['negative_combos'].round(4)}"

        /Positive combo
        .col-md-4.entity
          .col-md-12
            %label
              Positive Combos:
            .pull-right
              %a{"data-placement"=>"right", :id => "positive_combos"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@user_report['positive_combos'].round(4)}"

        /Flips Ratio
        .col-md-4.entity
          .col-md-12
            %label
              Flips Ratio:
            .pull-right
              %a{"data-placement"=>"right", :id => "flips_ratio"}
                %i.fa.fa-info
          .col-md-12
            %figure
              = "#{@user_report['flips_ratio'].round(4)}"

    / Prediction
    .row
      .col-md-12.header
        %h1
          Probability of Mental Disorder
      .col-md-6.entity
        .col.md.12
          %label
            Probability of Borderline Personality Disorder
        .col.md.12
          #bpd{:style => "width:100%"}
      .col-md-6.entity
        .col.md.12
          %label
            Probability of Bipolar Disorder
        .col.md.12
          #bipolar{:style => "width:100%"}
      :javascript
        var BPDProb = #{@user_report['BPD_probability']} * 100;
        var bipolarProb = #{@user_report['bipolar_probability']} * 100;
        $(function () {

          var gaugeOptions = {

            chart: {
              type: 'solidgauge'
            },

            title: null,

            pane: {
              center: ['50%', '85%'],
              size: '140%',
              startAngle: -90,
              endAngle: 90,
              background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
              }
            },

            tooltip: {
              enabled: false
            },

            // the value axis
            yAxis: {
              stops: [
                [0.1, '#c9c9ff'], // blue
                [0.8, '#f1cbff'], // purple
              ],
              lineWidth: 0,
              minorTickInterval: null,
              tickPixelInterval: 400,
              tickWidth: 0,
              title: {
                y: -70
              },
              labels: {
                y: 16
              }
            },

            plotOptions: {
              solidgauge: {
                dataLabels: {
                  y: 5,
                  borderWidth: 0,
                  useHTML: true
                }
              }
            }
          };

          // The bpd gauge
          $('#bpd').highcharts(Highcharts.merge(gaugeOptions, {
            yAxis: {
              min: 0,
              max: 100,
            },

            credits: {
              enabled: false
            },

            series: [{
              name: 'bpd',
              data: [BPDProb],
              dataLabels: {
                format: '<div style="text-align:center"><figure>{y:.1f}</figure><br/>' +
                  '<unity>%</unity></div>'
              },
              tooltip: {
                valueSuffix: '%'
              }
            }]
          }));

          // The bipolar gauge
          $('#bipolar').highcharts(Highcharts.merge(gaugeOptions, {
            yAxis: {
              min: 0,
              max: 100,
            },

            series: [{
              name: 'bipolar',
              data: [bipolarProb],
              dataLabels: {
                format: '<div style="text-align:center"><figure>{y:.1f}</figure><br/>' +
                  '<unity"> %</unity></div>'
              },
              tooltip: {
                valueSuffix: '%'
              }
            }]
          }));
        });

        function setDivHeight() {
          var div = $('#bpd');
          div.height(div.width() * 0.75);
          div = $('#bipolar');
          div.height(div.width() * 0.75);
        }

        $(window).on('load resize', function(){
          setDivHeight();
        });





    / Word Cloud
    .row
      .col-md-12.header
        %h1
          Word cloud generated by tweets
      .col-md-12
        #wordcloud{:style => "width:100%"}
      / to be moved to React but for now keep using standard javascript
      :javascript
        var word_data = #{@bpd_word_count}

        var color = d3.scale.linear()
          .domain([0,1,2,3,4,5,6,10,15,20,100])
          .range(["#ddd", "#ccc", "#bbb", "#aaa", "#999", "#888", "#777", "#666", "#555", "#444", "#333", "#222"].reverse());

        /* Readme word Cloud ************************************************/
        d3.layout.cloud().size([800, 300]) //width, height
          .words(word_data)
          .rotate(0)
          .fontSize(function(d) { return d.size*4; })
          .on("end", draw)
          .start();

        function draw(words) {
          d3.select("#wordcloud").append("svg")
            .attr("width", 850)
            .attr("height", 350)
            .attr("class", "wordcloud")
            .append("g")
            // without the transform, words words would get cutoff to the left and top, they would
            // appear outside of the SVG area
            //modify the postition of the cloud on the canvas
            .attr("transform", "translate(320,200)")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) { return d.size + "px"; })
            .style("fill", function(d, i) { return color(i); })
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function(d) { return d.text; });
        }

    /  Javascript Utilities
    :javascript
      $('#age_prediction').tooltip({'title': 'The age predicted by the system'});
      $('#gender_prediction').tooltip({'title': 'The gender predicted by the system'});
      $('#friends_count').tooltip({'title': 'The number of people the user is following'});
      $('#tweet_length').tooltip({'title': 'The number of tweets collected from the user profile'});
      $('#mental_dimensions').tooltip({'title': 'Contains features and probabilities of produced by the PLF model'});
      $('#tweeting_frequency').tooltip({'title': 'The frequency of daily posts'});
      $('#mentioning_frequency').tooltip({'title': 'The percentage of posts which contain at least one mention of another user.'})
      $('#unique_mentions').tooltip({'title': 'The number of unique users mentioned by the user'});
      $('#frequent_mentions').tooltip({'title': 'The number of users mentioned more than three times by the user'});
      $('#tweets_polarity_timeline').tooltip({'title': 'Timeline of tweets with there polarity'})
      $('#tweets_polarity').tooltip({'title': 'percentage of tweets per polarity'})
      $('#negative_combos').tooltip({'title': 'The number of X continuous negative posts within a certain period of time'});
      $('#positive_combos').tooltip({'title': 'The number of X continuous positive posts within a certain period of time'});
      $('#flips_ratio').tooltip({'title': 'The ratio of two continuous tweets with different polarity within a certain period of time'});
